<%= form_for(@matter) do |f| %>
  <% if @matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matter.errors.count, "error") %> prohibited this matter from being saved:</h2>

      <ul>
      <% @matter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_matter %><br>
    <%= f.text_field :name_matter %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :total_inversion %><br>
    <%= f.text_field :total_inversion %>
  </div>
    <div class="field">
      <%= f.label :provider_id %>
      <%= f.collection_select(:provider_id, Provider.all, :id, :name_pro) %><br>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
