<div class="reveal large-3 large-centered" id="extravioModal" data-reveal>

  <section class="large-12 large-centered">
    <section class="login-box">
      <h3>Recuperar Cuenta</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "¡Enviar conrreo!", :class=>"button alert large-12 large-centered columns" %>
          </div>
      <% end %>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= render "devise/shared/links" %>
    </section>
  </section>
</div>