<p id="notice"><%= notice %></p>

<p>
  <strong>Name enterprise:</strong>
  <%= @provider.name_enterprise %>
</p>

<p>
  <strong>Name pro:</strong>
  <%= @provider.name_pro %>
</p>

<p>
  <strong>First name:</strong>
  <%= @provider.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @provider.last_name %>
</p>

<p>
  <strong>Matter:</strong>
  <%= @provider.matter %>
</p>

<p>
  <strong>Location:</strong>
  <%= @provider.location %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
